<a href="https://colab.research.google.com/github/jeesun329/jython329/blob/master/2021_06_03_3%ED%8C%80_%EC%9C%A4%EC%A7%80%EC%84%A0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
alist = {
    '1팀':[20,21,33,23], 
    '2팀':[10,10,20,30,25], 
    '3팀':[20,30,25,30],
    '4팀':[20,20,20,20],
    '5팀':[30,30,20,20,10],
    '6팀':[20,20,25,30]}
age_li = []
for i,v in alist.items():
    print(f'{i}의 최저연령은{min(v)} 최고연령은 {max(v)}')
    age_li.extend(v)
    #print(age_li)
print(f'DT스쿨 최저연령은{min(age_li)} 최고연령은 {max(age_li)}')
print(f'dt스쿨 평균 나이는 ')

1팀의 최저연령은20 최고연령은 33
[20, 21, 33, 23]
2팀의 최저연령은10 최고연령은 30
[20, 21, 33, 23, 10, 10, 20, 30, 25]
3팀의 최저연령은20 최고연령은 30
[20, 21, 33, 23, 10, 10, 20, 30, 25, 20, 30, 25, 30]
4팀의 최저연령은20 최고연령은 20
[20, 21, 33, 23, 10, 10, 20, 30, 25, 20, 30, 25, 30, 20, 20, 20, 20]
5팀의 최저연령은10 최고연령은 30
[20, 21, 33, 23, 10, 10, 20, 30, 25, 20, 30, 25, 30, 20, 20, 20, 20, 30, 30, 20, 20, 10]
6팀의 최저연령은20 최고연령은 30
[20, 21, 33, 23, 10, 10, 20, 30, 25, 20, 30, 25, 30, 20, 20, 20, 20, 30, 30, 20, 20, 10, 20, 20, 25, 30]
DT스쿨 최저연령은10 최고연령은 33

In [ ]:
team_dic = {'승혜':['러닝',70,25,20],'유진':['드라마보기',60,25,25],'지현':['노래듣기',65,23,21],'창익':['당구',60,27,17],'혜원':[0,28,28],'영은':['책읽기랑운동하기',95,25,20],'지선':['카페가기',90,23,23]}
a = input()
b_list = team_dic[a]
print(f'우리{a}님은{b_list[0]}을 좋아해요')
print(f'체력은 {b_list[1]}! {b_list[2]}세의 신체연령에 신기하게도 정신연령은 {b_list[3]}세!')
print(f'사랑스러운{a}님이시네요')
random.choice()

In [ ]:
team_dic = {'승혜':['러닝':70,25,20],'유진'['드라마보기',60,25,25],'지현'['노래듣기',65,23,21],'창익'['당구'',60,27,17],'혜원'['인터넷쇼핑하기',70,28,28],'영은'['책읽기랑운동하기',95,25,20],'지선'['카페가기',90,23,23]}
a = input()
b_list = team_dic[a]
print(f'우리{a}님은{b_list[0]}을 좋아해요')
print(f'체력은 {b_list[1]! {b_list[2]}세의 신체연령에 신기하게도 정신연령은 {b_list[3]}세!')
print(f'사랑스러운{a}님이시네요')

SyntaxError: ignored

In [ ]:
team_may = {'수루키':['한슬기','댄스','곱창','발리'],
            '갓디':['신동열','자전거','돈까스','아이슬란드'],
            '너구리':['이영이', '양파,감자', '잠', '뉴욕'],
            '매운오돌뼈':['박정선','책 읽기' '쫄면','크로아티아'],
            '뚜뚜':['김은수' , '노래 듣기' , '떡볶이' , '유럽'],
            '데이지':['노현정','유튜브보기','매번다름','이스탄불'],
nick_name = input('누가 궁금한가요?')
if nick_name != team_may :
    print('우리팀원이 아니에요')
b_list = team_may[nick_name]
print(f'오월의 오팀 {nick_name}님을 소개합니다.')
print(f'{nick_name}님의 이름은 {b_list[0]}.')
print(f'취미는 {b_list[1]}.')
print(f'{nick_name}님이 좋아하는 음식은 {b_list[2]} 이고,')
print(f'여행가고 싶은 곳은 {b_list[3]} 입니다!.')
print(f'우리 오월의 오팀 사랑스런 {nick_name}님을 환영해주세용♡')

In [ ]:
#문자열 나누기,문자열.split(),
text = '문자열 나누기'
li = text.split(sep=' ')
li

['문자열', '나누기']

In [ ]:
#'구분자.join()
text2 = ' '.join(li)
text2

'문자열 나누기'

In [ ]:
alist = {
    '키1':['값1', '값2'], 
    '키2':['값3', '값4'], 
    '키3':['값5', '값6'],
    '키4':{'키':100}}
print(list(alist['키1']))
print(alist['키4']['키'])

['값1', '값2']
100

In [ ]:
alist = [17,24,22,22,20,20]    
print(f'3팀의 평균연령은 {int(sum(alist)/len(alist))}입니다')

3팀의 평균연령은 20입니다